*.html
*.docx
*.o
# *.tar.gz
*.a
*.la
*.so
*.Rproj.user
*.tgz
.Rproj.user
.DS_Store
*.o
*.so
.Rhistory
build/
create_dll_compile.bash

# python
*.egg-info/
.cache/
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.vscode/
dist/
htmlcov/
venv/
*.log
*.py[cod]
.coverage
.env
