*.o
*.a
*.la
*.so
.DS_Store
*.so

create_dll_compile.bash

# python
*.egg-info/
.cache/
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.vscode/
build/
dist/
htmlcov/
venv/
*.log
*.py[cod]
.coverage/
.env
