useDynLib(ToxicR, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
#register all of the S3 methods for the print commands
#and the plot commands etc. 
S3method(print, BMDmodelprior, .print.BMDmodelprior)
S3method(print, BMD_CDF, .print.BMD_CDF)
S3method(print, BMDdich_fit, .print.BMDdich_fit)

S3method(plot,  BMDdich_fit_MCMC, .plot.BMDdich_fit_MCMC)
S3method(plot,  BMDdich_fit_maximized, .plot.BMDdich_fit_maximized)

S3method(plot, BMDcont_fit_MCMC,      .plot.BMDcont_fit_MCMC)
S3method(plot, BMDcont_fit_maximized, .plot.BMDcont_fit_maximized)

S3method(plot, BMDcontinuous_MA, .plot.BMDcontinuous_MA )

S3method(plot, BMDdichotomous_MA, .plot.BMDdichotomous_MA) 