image: python:3.11-slim

stages:
  - compile

package:
  stage: compile
  tags:
    - devsecops-instance
  script: |
    # install
    apt-get update -y
    apt-get install -y automake build-essential libtool make cmake libgslcblas0 libgsl-dev

    # build 3rd party
    cp $CI_PROJECT_DIR/vendor/nlopt-2.7.1.tar.gz ~/nlopt-2.7.1.tar.gz
    cp CI_PROJECT_DIR/vendor/eigen-3.4.0.tar.gz ~/eigen-3.4.0.tar.gz
    # untar
    cd ~
    tar -xvf ~/nlopt-2.7.1.tar.gz
    tar -xvf ~/eigen-3.4.0.tar.gz
    # build
    cd ~/nlopt-2.7.1 && mkdir build && cd build && cmake .. && make install
    cd ~/eigen-3.4.0 && mkdir build && cd build && cmake .. && make install
    # cleanup
    cd ~
    rm -rf nlopt-2.7.1.tar.gz eigen-3.4.0.tar.gz nlopt-2.7.1 eigen-3.4.0

    # build bmds
    cd $CI_PROJECT_DIR
    export "LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH"
    mkdir -p ../BMD_DLL_COMPILE
    cp ./.gitlab/create_dll_compile.bash.template ./create_dll_compile.bash
    chmod 700 ./create_dll_compile.bash
    ./create_dll_compile.bash
    cd ../BMD_DLL_COMPILE
    make -j$(nproc)
    strip --strip-all ./.libs/libDRBMD.so.0.0.0

    # copy
    mkdir -p $CI_PROJECT_DIR/libs
    cp $CI_PROJECT_DIR/BMD_DLL_COMPILE/.libs/* ../bmds-core/libs

  artifacts:
    paths:
      - libs/*.so

