image: python:3.9-slim

stages:
  - compile

package:
  stage: compile
  tags:
    - devsecops-instance
  script: |
    # install things we need
    apt-get update -y
    apt-get install -y automake build-essential libtool make cmake libgslcblas0 libgsl-dev

    # build eigen
    cd /builds/ord-heead/bmds/bmds-core
    tar -xf ./vendor/eigen-3.4.0.tar.gz --directory .
    cd eigen-3.4.0 && mkdir build && cd build && cmake .. && make install && cd /

    # build nlopt
    cd /builds/ord-heead/bmds/bmds-core
    tar -xf ./vendor/nlopt-2.7.1.tar.gz --directory .
    cd nlopt-2.7.1/ && mkdir build && cd build && cmake .. && make install

    # remove these builds
    cd /builds/ord-heead/bmds/bmds-core
    rm -rf ./eigen-3.4.0 ./nlopt-2.7.1/

    # build bmds
    export "LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH"
    mkdir -p ../BMD_DLL_COMPILE
    cp ./epa/create_dll_compile.bash.template ./create_dll_compile.bash
    chmod 700 ./create_dll_compile.bash
    ./create_dll_compile.bash
    cd ../BMD_DLL_COMPILE
    echo "Number processors: ${nproc}"
    make -j2

    # copy
    mkdir -p /builds/ord-heead/bmds/bmds-core/libs
    cp /builds/ord-heead/bmds/BMD_DLL_COMPILE/libs/* ../bmds-core/libs
    ls -laht

  artifacts:
    paths:
      - libs/

