name: C++ test linux

on:
  # pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          source ./tools/linux_ci_setup.sh
      - name: Build bmdscore
        run: |
          source ./tools/linux_ci_env.sh
          mkdir -p src/build
          cd src/build
          cmake ..
          make -j$(nproc)
      - name: Run tests and generate report
        run: |
          source ./tools/linux_ci_env.sh
          cd src/build
          make run_tests_with_coverage
      - uses: actions/upload-artifact@v4
        with:
          name: cpp-coverage
          path: |
            ./src/build/coverage/*

